# 数据库连接 - 把 YOUR_PASSWORD 改成自己的 MySQL root 密码
DB_URL=mysql+pymysql://root:YOUR_PASSWORD@localhost:3306/fudan_air?charset=utf8mb4

# JWT 签名密钥 - 可统一，无需更改
JWT_SECRET=ZPkC8P8903Cl9Eqohfi8RYCcL-TEj6BTCjy4LdeAfYM
JWT_EXPIRE_MINUTES=1440

# 业务配置 
ORDER_EXPIRE_MINUTES=15 #设置订单超时时间为15分钟
SCHEDULER_INTERVAL_SECONDS=60 #设置调度器间隔为60秒
INSTANCE_GENERATION_HOUR=3 #设置凌晨3点生成航班实例
INSTANCE_AHEAD_DAYS=90 #提前生成航班实例的天数

# CORS
CORS_ORIGINS=http://localhost:5173
